


body {
    margin: 0;
    padding-top: 50px;
    display:block;
    text-decoration:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main{
    display: block;
    margin:auto 20px;
    background-color:#C0C0C0;
    border-radius: 5px;
}


#nav {
    background-color: chocolate;
    padding: 0;
    
    overflow: hidden;
    width: 100%
}


#nav a{
    margin: 0 auto;
    display:block;
    float: left;
    background-color: cadetblue;
    text-align: center;
    text-decoration:none;
    margin-right: 30px;
    padding: 16px;

}

#title{
    display: block;
    text-align: center;
    margin: 50px;
    height:80px;
}

#title h1{
    display:block;
    padding-top:20px;
}
#title p{
    padding-bottom:15px;
    font-size: 20px;
}


#img-div{
    display: block;
    margin: 0 auto;
    float:center;
    background-color:#ffff;
    width: 99%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
}

#image{
    display: block;
    margin: 0 auto;
    max-width: 80%;
}


#tribute-info{
    display: block;
    margin: 0 auto;
    width: 400px;
}

#textss {
    display: block; 
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}